#signup label { display: inline-block; font-size: 14px; width: 110px; }
input { line-height: 14px; } 
/* 
input에 line-height 14px이상 값을 주지 않으면 한글을 적었을 때,
다른 엘리먼트들이 조금씩 움직임이 발생함.
*/
ul > li:not(:last-child) { margin-bottom: 5px; }
/* 마지막 li 엘리먼트를 제외하고 전부 */

ul > li:not(:first-child) { margin-top: 5px; }
/* 위 문장과 방식은 다르지만 결과는 같음. */