#container {
  width:1000px;
  margin:20px auto;
}
h1 {
  text-align:center;
}

.prod-list {
  list-style:none;
  padding:0;
}

.prod-list li {
  float: left;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.prod-list li div.caption {  
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000080;
  left: 0;
  color:#fff;
  top: 200px;  
  text-align: center;
  transition: all ease 0.7s;
}

.prod-list li div.caption p {
  color: blue;
}


.prod-list li div.caption h2 {
  margin-top: 40px;
}

.prod-list li:hover div.caption { 
  top: 0;
}

.prod-list img {
  margin:0;
  padding:0;
  float:left;
  z-index:5;
} 